PORT=5000
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_REGEX=
AUTH_TOKEN_SECRET="2af414a402753d31e2832a1bb24971d87cb48d80a031c53505d0da3179644e20"

# Use either DATABASE_URL or the individual DB_* variables below.
DATABASE_URL=postgresql://postgres.ifabxduzqquvfbqqespt:Gardo%40547603@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.ifabxduzqquvfbqqespt
DB_PASSWORD=Gardo@547603